<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>

        <%- include('../partials/table'); %> 
    </main>

    <footer>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./scripts/test_FakerProducts.js"></script>
    </footer>

    
</body>
</html>