{{!-- main.hbs --}}

<form action="/productos" method="post">
        <fieldset>
            <legend>INGRESE LOS DATOS DEL PRODUCTO NUEVO:</legend>
            <div>
                <label for="title">TÍTULO </label><input type="text" name="title" required><br>
                <label for="price">PRECIO </label><input type="number" name="price" required><br>
                <label for="thumbnail">THUMBNAIL </label><input type="text" name="thumbnail" required><br>
                <input type="submit" value="ENVIAR" id="boton">
            </div>
        </fieldset>
    </form><br>

<nav>
    <a href="/productos"><button>Ver todos los productos</button></a>
</nav>

{{!-- {{> hatedChamps}}
<br>

{{> lovedChamps}}
<br>


<h2>List of my most suggested League Champions</h2>

{{#if listExists}}
    <ul>
        {{#each suggestedChamps}}
            <li class="{{this.lane}}">{{this.name}}</li>
        {{/each}}
    </ul>
{{/if}} --}}
