html 
    head 
        title Desafio 05
        style.
            body {
            background-color: rgb(30, 30, 30);
            font-family: Verdana;
            text-align: center;
            }

            #boton {
                margin-top: 20px;
            }

            table {
                color:white; 
                border: 2px solid white;
                width: 50%;
                margin: 0 auto;
            }

            table th, td {

            }

            fieldset {
                color: rgb(255, 255, 255);
                line-height: 2;
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 2px dashed white;
            }

            legend {
                line-height: 3;
                font-weight: bold;
            }

            input{
                border-radius: 5px;
            }

            nav {
                margin-top: 20px;
            }

            nav button {
                padding: 20px;
            }

    body
        h1(style="color: blue")=mensaje
        fieldset
            form(action="/productos" method="post")
                label(for="title") Titulo
                input(type="text" name="title" required)
                br
                label(for="price") Precio
                input(type="text" name="price" required)
                br
                label(for="thumbnail") Thumbnail
                input(type="text" name="thumbnail" required)
                br
                input(type="submit" value="ENVIAR" id="boton")
        nav
            a(href="/productos")
                button Ir al formulario