<footer>
    <h1>Natán Mendieta</h1>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect();
        console.log('Me conecte :D');

        // LADO DEL CLIENTE
        function render(data) {
            console.log("Holas Bv");
            const html = data.map((elem, index) => {
                return(`
                    <tr>
                        <td>${elem.title}</td>
                        <td>${elem.price}</td>
                        <td><img src="${elem.thumbnail}"/></td>
                    </tr>

        `)
            }).join(" ");
            console.log(html);
            document.getElementById('messages').innerHTML = html;
            
        }

        function renderMessages(data) {
            console.log("Holas Bv");
            console.log(data);

            if(data != 'Chat vacio'){
                const html = data.map((elem) => {
                    return(`
                        <li class="chat-list-title">
                            <span>${elem.time} <strong>${elem.email}</strong></span>
                            <li class="chat-list-message">
                                <em>${elem.message}</em>
                            </li>
                        </li>
                        <hr/>
                    `) 
                }).join(" ");
                console.log(html);
                document.getElementById('chat-mensajes').innerHTML = html;

            } else {
                document.getElementById('chat-mensajes').innerHTML = '<br/>Chat vacio';
            }
            
        }

        // LADO DEL SERVIDOR
        function addMessage(e) {
            const mensaje = {
                title: document.getElementById('title').value,
                price: document.getElementById('price').value,
                thumbnail: document.getElementById('thumbnail').value,
            };
            
            console.log(mensaje);
            socket.emit('new-message', mensaje);

            return false;
        }

        function addHistory(e) {
            const mensaje = {
                email: document.getElementById('email').value,
                message: document.getElementById('message').value
            };
            
            // console.log(mensaje);
            socket.emit('chat-mensajes', mensaje);

            return false;
        }


    // Recibir los datos del JSON contenedor
    socket.on('messages', data => {
        // console.log(data);
        render(data);
    })

    socket.on('chat', data => {
        console.log("CHAT:", data);
        renderMessages(data);
    })
    </script>
</footer>