<form onsubmit="addHistory(this)">
    <fieldset>
        <legend>CHAT DE MENSAJES</legend>
        <div>
            <label for>EMAIL</label><input type="text" id="email"/><br/>
            <label for>MENSAJE</label><input type="text" id="message"/><br/>
            <input type="submit" value="ENVIAR" class="boton"><br/><br/>
        </div>
    </fieldset>
</form>

<section>
    <ul id="chat-mensajes">
    </ul>
</section>
