<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <section id="atenuarPantalla"></section>

    <main>
        <%- include('../partials/login'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>