<header>
  <h1>Entregable 08 - Mocks y Normalización</h1>
</header>

<section id="btnLogOut">
  <input type="button" value="Cerrar sesión" onclick="logoutSession(this)"/>
</section>

<%- include('../partials/login'); %>