<meta charset="UTF-8">
<title>Entregable 05 - EJS</title>

<style>
    body{
    background-color: rgb(30, 30, 30);
    font-family: Verdana;
    text-align: center;
    color:white; 
    }

    table {
        border: 2px solid white;
        width: 50%;
        margin: 0 auto;
    }

    table th {
                width: 30%;
                border: 2px solid;
            }

    table tr {
        text-align: center;
    }

    footer {
        align-self: flex-end;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        color: rgb(255, 255, 255);
    }

    fieldset {
        color: rgb(255, 255, 255);
        line-height: 2;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px dashed white;
    }

    legend {
        line-height: 3;
        font-weight: bold;
    }

    input{
        border-radius: 5px;
    }

    nav {
        margin-top: 20px;
    }
</style>