<meta charset="UTF-8">
<title>Entregable 08 - Mocks y Normalización</title>
<!-- <script src="../../node_modules/socket.io/client-dist/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script> -->
<!-- <script src="../../public/scripts/main.js"></script> -->
<link rel="stylesheet" href="css/style.css" />
